
.bio-container {

    

    .bio-text-container {

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: $tmr-offwhite;
            margin: 1rem 0;
        }
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: $tmr-offwhite;
            margin: 1rem 0;
        }

        .bio-name {
            margin: 0;
        }
        .bio-titles {
            margin: 0;
        }

        .bio-image-container {
            display: block;
            position: relative;
            margin: auto;
            max-width: 27rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
    
            img {
                
                object-position: 3% 50%;
                object-fit: cover;
                aspect-ratio: 1/1;
                width: 100%;
            }
        }
    }

    
  
}