// Header Navigation


header {

    @keyframes opacityNav {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
        opacity: 0;
        animation-name: opacityNav;
        animation-fill-mode: forwards;
        animation-duration: 2.3s;
        animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
        animation-iteration-count: 1;
        animation-delay: 1s;
        animation-direction: normal;


    float: right;
    height: 0;
    width: fit-content;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 100;
    .custom-nav {
        display: flex;
        align-items: center;
        // background-color: rgb($tmr-blur,0.69);
        // backdrop-filter: blur(5px);
        background-color: black;
        border: 1px solid white;
        padding: .5rem;
        margin: 1rem;
        border-radius: 60px;
        @include desktopQuery {
            margin: 1.5rem;
        }
        .nav-button {
            padding: 0;
            border: none;
            background: none;
            display: flex;
            align-items: center;
            height: 100%;
            &:focus {
                @include desktopQuery {
                    outline: .5px dashed white;
                }
               
            }
            .flex-box {
                .nav-close,
                .nav-open {
                    display: block;
                    width: 1.5rem;
                    fill: white;
                    cursor: pointer;
                }
                .nav-close {
                    display: none;
                    &.open {
                        width: 1.5rem;
                        display: block;
                    }
                }
                .nav-open {
                    &.hide {
                        display: none;
                    }
                }
            }
        }
        
        .custom-nav-container {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            border-radius: 60px;
            .nav-items {
                display: none;
                background-color: black;
                margin: 0;
                margin-right: 0.5rem;
                margin-left: 0.2rem;
                border-radius: 50%;
                &.open {
                    display: block;

                    &.active {
                        background-color: white;
                        svg {
                            fill:black;
                        }
                    }
                    
                    &:hover {
                        @include desktopQuery {
                            background-color: white;
                            svg {
                                fill:black;
                            }
                        }
                        
                    }
                }
                
                
                .flex-box {
                    display: flex;
                    align-items: center;
                    height: 100%;
                   
                    a {
                        display: flex;
                        padding: .45rem;
                        &:focus {
                            @include desktopQuery {
                                outline: .5px dashed white;
                            }
                        }
                    
                        svg {
                            height: 0.75rem;
                            width: .75rem;
                            fill: $tmr-background-light;
                        }
                    }
                } 
            }
        }
    }
}