// Header Navigation



.main-navigation {
    position: absolute;
    z-index: 100;
    top: 0;
    justify-content: space-between;
    display: flex;
    flex-grow: 1;
    background: linear-gradient(180deg, #00000078, transparent);
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include desktopQuery {
        padding-right: .5rem;
    }


    @include largeTabletQuery {
        width: 100%;
    }


    .attachment-full.size-full {
        width: 3rem;
        z-index: 200;
        align-self: center;
        img {
            width: 100%;
            vertical-align: middle;
        }
    }

    .page-title {
        margin-left: 1rem;
        color: $tmr-white;
        font-size: 1rem;
    }

    .site-branding {
        display: flex;
        padding: 1rem;
    }
    

    .hamburger-icon {

        .line {
            width: 35px;
            height: 2px;
            background-color: $tmr-white;
            display: block;
            margin: 8px auto;
            transition: all 0.3s ease-in-out;
    
            &:nth-child(2).active-burger{
                width: 0;
            }
            &:nth-child(1).active-burger{
                transform: translateY(10px) rotate(45deg);
                background-color: $tmr-offwhite;
                width: 25px;
            }
            &:nth-child(3).active-burger{
                transform: translateY(-10px) rotate(-45deg);
                background-color: $tmr-white;
                width: 25px;
            }
        }  
    }

    // hamburger button
    .menu-toggle {
        border: none;
        background: none;
        display: block;
        cursor: pointer;
        padding: 1rem;

        @include tabletQuery {
            // padding: 1rem 3rem;
            margin: 0;
            // width: 100%;
        }
        @include desktopQuery {
            display: none;
        }
    }

     // the div containing the ul of menu
     .menu-header-menu-container {
        transition: all 0.2s ease-in-out;
        display: block;
        position: absolute;
        top: 0;
        left: -1000px;
        background-color: rgb($tmr-black,0.75);
        z-index: 80;
        width: 100%;
        margin-top: 0;

		@include desktopQuery {
            position: initial;
            background: none;
            left: initial;
            width: fit-content;

            .nav-menu {
                padding: 1rem;
                display: flex;
                flex-direction: row;
            }

		}


		
    }

    // the ul containing the menu
     // the ul containing the menu
     .nav-menu {
        padding: 5rem 0rem 2rem 0rem;
        text-align: center;

        li {
            font-size: 2rem;
            a {
                color: $tmr-white;
                text-decoration: none;
                padding: 1rem;

                &:hover {
                    color: $tmr-focus;
                }
            }
        }
    }
}

// When hamburger button is toggled
.toggled {
    // hamburger button after toggle
    .menu-toggle {
        z-index: 99;
       
       
    }
    // the div containing the ul of menu
    .menu-header-menu-container {
        transition: all 0.2s ease-in-out;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        z-index: 80;
        width: 100%;
		@include desktopQuery {
			display: none;
		}
    }
    // the ul containing the menu
    .nav-menu {
        padding: 5rem 0rem 2rem 0rem;
        text-align: center;
        li {
            font-size: 2rem;
            a {
                color: $tmr-white;
                padding: 1rem;
                &:hover {
                    color: $tmr-focus;
                    text-decoration: none;
                }
            }
        }
    }
}