// Header Navigation


header {

    @keyframes opacityNav {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
        opacity: 0;
        animation-name: opacityNav;
        animation-fill-mode: forwards;
        animation-duration: 2.3s;
        animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
        animation-iteration-count: 1;
        animation-delay: 1s;
        animation-direction: normal;


    float: right;
    height: 0;
    width: fit-content;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 100;
    .custom-nav {
        display: flex;
        align-items: center;
        background-color: rgb($tmr-blur,0.69);
        backdrop-filter: blur(5px);
        padding: .5rem;
        margin: 1rem;
        border-radius: 60px;
        @include desktopQuery {
            margin: 1.5rem;
        }
        .nav-button {
                display: flex;
                align-items: center;
                height: 100%;
            .flex-box {
                .nav-close,
                .nav-open {
                    display: block;
                    width: 1.5rem;
                    fill: white;
                    cursor: pointer;
                }
                .nav-close {
                    display: none;
                    &.open {
                        width: 1.5rem;
                        display: block;
                    }
                }
                .nav-open {
                    &.hide {
                        display: none;
                    }
                }
            }
        }
        
        .custom-nav-container {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            border-radius: 60px;
            .nav-items {
                display: none;
                background-color: black;
                margin: 0;
                margin-right: 0.5rem;
                margin-left: 0.2rem;
                border-radius: 50%;
                &.open {
                    display: block;
                }
                .flex-box {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    a {
                        display: flex;
                        padding: .45rem;
                        svg {
                            height: 0.75rem;
                            width: .75rem;
                            fill: $tmr-background-light;
                        }
                    }
                } 
            }
        }
    }


}






.main-navigation {

    position: absolute;
    z-index: 100;
    top: 0;
    justify-content: space-between;
    display: flex;
    flex-grow: 1;
    // background-color: $tmr-black;
    background: linear-gradient(180deg, #00000078, transparent);
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include desktopQuery {
        padding-right: .5rem;
        padding-left: .5rem;
    }


    @include largeTabletQuery {
        width: 100%;
    }


    .attachment-full.size-full {
        width: 3rem;
        @include desktopQuery {
            width: 5rem;
        }
        z-index: 200;
        align-self: center;
        img {
            width: 100%;
            vertical-align: middle;
        }
    }

    .page-title {
        margin-left: 1rem;
        color: $tmr-white;
        font-size: 1rem;
    }

    .site-branding {
        display: flex;
        padding: 1rem;
    }
    

    .hamburger-icon {

        .line {
            width: 35px;
            height: 2px;
            background-color: $tmr-white;
            display: block;
            margin: 8px auto;
            transition: all 0.3s ease-in-out;
    
            &:nth-child(2).active-burger{
                width: 0;
            }
            &:nth-child(1).active-burger{
                transform: translateY(10px) rotate(45deg);
                background-color: $tmr-offwhite;
                width: 25px;
            }
            &:nth-child(3).active-burger{
                transform: translateY(-10px) rotate(-45deg);
                background-color: $tmr-white;
                width: 25px;
            }
        }  
    }

    // hamburger button
    .menu-toggle {
        border: none;
        background: none;
        display: block;
        cursor: pointer;
        padding: 1rem;

        @include tabletQuery {
            // padding: 1rem 3rem;
            margin: 0;
            // width: 100%;
        }
        @include desktopQuery {
            display: none;
        }
    }

     // the div containing the ul of menu
     .menu-header-menu-container {
        transition: all 0.2s ease-in-out;
        display: block;
        position: absolute;
        top: 0;
        left: -1000px;
        background-color: rgb($tmr-black,0.75);
        z-index: 80;
        width: 100%;
        margin-top: 0;

		@include desktopQuery {
            position: initial;
            background: none;
            left: initial;
            width: fit-content;

            .nav-menu {
                padding: 1rem;
                display: flex;
                flex-direction: row;
            }

		}


		
    }

    // the ul containing the menu
     // the ul containing the menu
     .nav-menu {
        padding: 5rem 0rem 2rem 0rem;
        text-align: center;

        li {
            font-size: 1.5rem;
            font-family: $tmr-font-primary;
            @include desktopQuery {
                margin-left: 1rem;
            }
            
            a {
                text-decoration: none;
                padding: .5rem 1rem;
                @include desktopQuery {
                    color: $tmr-typography;
                    background: rgb($tmr-background-light,0.9);
                    border-radius: 8px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// When hamburger button is toggled
.toggled {
    // hamburger button after toggle
    .menu-toggle {
        z-index: 99;
       
       
    }
    // the div containing the ul of menu
    .menu-header-menu-container {
        transition: all 0.2s ease-in-out;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        z-index: 80;
        width: 100%;
		@include desktopQuery {
			display: none;
		}
    }
    // the ul containing the menu
    .nav-menu {
        padding: 5rem 0rem 2rem 0rem;
        text-align: center;
        li {
            font-size: 2rem;
            a {
                color: $tmr-white;
                padding: 1rem;
                &:hover {
                    color: $tmr-focus;
                    text-decoration: none;
                }
            }
        }
    }
}