

body.page-template-default {
	position: relative;
	margin: auto;
    max-width: 2000px;
	color: $tmr-typography;
	font-family: $tmr-font-primary;

	.gear-link {
		text-align: left;
		a {
			color: $tmr-focus;
			&:visited {
				color: $tmr-focus;
			}  
		}
	}

	

	.site-main {
		overflow-y: hidden;
		overflow-x: hidden;
		background-color: antiquewhite;
		
	}
	.site-header {

	}
	.site-footer {
		overflow-y: hidden;
	}
	
}



