.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical {
    border-radius: 15px;
    padding: 2rem;
    // background: #00000000;
    // backdrop-filter: blur(10px);

    iframe {
        border-radius: 10px;

    }
}