
.bio-container {

    

    .bio-text-container {

        margin: 2rem 0;

        // &::before {
        //     content: "";
        // }

        .grid-container {
            .bio-text {
                margin-top: 1rem;
                @include desktopQuery {
                    column-count: 2;
                    column-gap: 2rem;
                    padding: 1rem;
                }
                
                p {
                    text-align: justify;
                    margin: 0;
                    margin-bottom: 1rem;
                    text-indent: 2rem;
                }
                a {
                    color: black;
                    &:visited {
                        color: black;
                    }
                }

                .read-more-button {
                    display: block;
                    margin: 0 auto;
                    background: none;
                    border: none;
                    color: $tmr-focus;
                    cursor: pointer;
                    @include desktopQuery {
                        display: none;
                    }
                }
                .custom-excerpt {
                    display: block;
                    @include desktopQuery {
                        display: none;
                    }
                }
                .custom-show-text {
                    display: none;
                    @include desktopQuery {
                        display: block;
                    }
                }
            }

            // @include desktopQuery {
            //     width: 80%;
            //     margin: auto;
            // }
            // @include bioDesktop {
            //     width: 100%;
            //     display: grid;
            //     grid-template-columns: 1fr 1fr;
            //     justify-content: center;
            //     align-items: center;
            // }

            .name-titles-container {
                order: 2;

                .gear-link {
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: underline;
                    margin-bottom: 0;
                    a {
                        color: $tmr-focus;
                        &:visited {
                            color: $tmr-focus;
                        }  
                    }
                }
                .bio-name {
                    margin: 0;
                }
                .bio-titles {
                    margin: 0;
                }

                @include desktopQuery {
                    padding: 0 3rem;
                }
                img {
                    margin: 2rem auto;
                    width: 100%;
                    display: block;
                    -o-object-fit: cover;
                    object-fit: cover;
                    max-height: 14rem;
                    -o-object-position: 50% 30%;
                    object-position: 50% 30%;
                    border-radius: 9px;
                    min-height: 25vh;
                    box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                    @include largeTabletQuery {
                        max-height: 25rem;
                        min-height: 25vh;

                    }
                    
                }
            }
            
    
            .bio-image-container {
                display: block;
                position: relative;
                margin: auto;
                max-width: 100%;
                
        
                img {
                    display: block;
                    margin: auto;
                    border-radius: 20px;
                    object-position: 3% 50%;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        

        
    }

    
  
}