
.bio-container {

    

    .bio-text-container {

        margin: 2rem 0;

        // &::before {
        //     content: "";
        // }

        .grid-container {
            .bio-text {
                img {
                    margin: 0rem auto 1rem auto;
                    width: 100%;
                    display: block;
                    object-fit: cover;
                    max-height: 25rem;
                    object-position: 50% 30%;
                    @include borderRadiusMedium;
                    @include largeTabletQuery {
                        margin-left: 1.5rem;
                        width: 45%;
                        float: right;
                        max-height: 37rem;
                    }
                    
                }
            }

            // @include desktopQuery {
            //     width: 80%;
            //     margin: auto;
            // }
            // @include bioDesktop {
            //     width: 100%;
            //     display: grid;
            //     grid-template-columns: 1fr 1fr;
            //     justify-content: center;
            //     align-items: center;
            // }

            .name-titles-container {
                order: 2;
                .bio-name {
                    margin: 0;
                }
                .bio-titles {
                    margin: 0;
                }
            }
            
    
            .bio-image-container {
                display: block;
                position: relative;
                margin: auto;
                max-width: 100%;
                
        
                img {
                    display: block;
                    margin: auto;
                    border-radius: 20px;
                    object-position: 3% 50%;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        

        
    }

    
  
}