
.bio-container {

    

    .bio-text-container {

        margin: 2rem 0;

        &::before {
            content: "";
        }
        

        .bio-name {
            margin: 0;
        }
        .bio-titles {
            margin: 0;
        }

        .bio-image-container {
            display: none;
            position: relative;
            margin: auto;
            max-width: 27rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
    
            img {
                
                object-position: 3% 50%;
                object-fit: cover;
                aspect-ratio: 1/1;
                width: 100%;
            }
        }
    }

    
  
}