.clients-section {

    article {
        display: flex;
        flex-direction: column;

        // &::before {
        //     content: "";
        // }
        
        &::after {
            content: "";
            display: none;
            width: 100%;
            height: 3px;
            background-color: $tmr-offwhite;
            margin: 3rem 0;
        
        }

        .clients-container {
            @include medScreenQuery {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                align-items: center;
            }
           
    
            p {
                order: 3;
    
                &::after {
                    content: "";
                    display: none;
                    width: 100%;
                    height: 3px;
                    background-color: $tmr-offwhite;
                    margin: 2rem 0;
                    
                }
        
            }
        }
    }

    

    .clients-examples-container {
        
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            list-style: none;
            margin: 0;
            padding: 0;
   
    
            li {
                margin: 0.5rem;
                position: relative;
                border-radius: 15px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                overflow: hidden;
                @include desktopQuery {
                    &:hover {
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        transform: scale(1.02);
                        transition: all 0.05s ease-in;
                    }
                }
                

                .play-button-container {
                    position: absolute;
                    display: flex;
                    justify-content: flex-start;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    .artist-play-container {
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 90%;
                        margin: auto;
                        background-color: black;
                        box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
                        border-radius: 60px;
                        margin-bottom: 8%;
                        @include mobileLargeQuery {
                            margin-bottom: 7%;
                        }
                        @include tabletQuery {
                            margin-bottom: 5%;
                        }
                        padding: 0 0.3rem;
                        @include mobileMediumQuery {
                            padding: 0.1rem 0.3rem;
                        }
                        @include mobileLargeQuery {
                            padding: 0.35rem;
                        }
                        @include tabletQuery {
                            padding: 0.5rem;
                        }
                        @include desktopQuery {
                            visibility: hidden;
                        }

                        .artist-name {
                            margin: 0;
                            text-align: left;
                            color: $tmr-white;
                            flex: 1 1 100%;
                            font-size: .5rem;
                            @include mobileMediumQuery {
                                font-size: .6rem;
                            }
                            @include mobileLargeQuery {
                                font-size: .7rem;
                            }
                            @include tabletQuery {
                                font-size: .9rem;
                            }
                            white-space: nowrap;
                            width: 75%;
                            overflow-x: scroll;
                            // remove scroll bar 
                                &::-webkit-scrollbar { /* WebKit */
                                    width: 0;
                                    height: 0;
                                }
                                scrollbar-width: none; /* Firefox */
                                -ms-overflow-style: none;  /* Internet Explorer 10+ */
                        }
                    }

                    @include desktopQuery {
                        display: flex;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        justify-content: center;

                        &:hover {
                            .play-button {
                                display: block;
                            }

                            .artist-name {
                                display: block;
                            }
                            .artist-play-container {
                                visibility: visible;
                            }
                        }

                        .play-button {
                            display: none;
                            width: 20%;
                        }
                        .artist-name {
                            display: none;
                            align-self: center;
                        }

                        
                    }
                    .play-button {
                        width: 25%;

                        g {
                            fill: rgb($tmr-focus,0.85);
                            backdrop-filter: blur(5px);
                        }
    
                    }
                    

                    
                }

                .uk-button.uk-button-default {
                    width: 100%;
                    border: none;
                    padding: 0;
                    &:focus {
                        border: 1px dashed $tmr-focus;
                    }
                }

                img {
                    width: 100%;
                    display: block;
                    aspect-ratio: 1/1;
                }
                
    
            }
    
           
    
        }
    
        
    }

}

