.clients-section {

    article {
        display: flex;
        flex-direction: column;

        &::before {
            content: "";
            order: 1;
        }
        &::after {
            content: "";
            display: none;
            width: 100%;
            height: 3px;
            background-color: $tmr-offwhite;
            margin: 3rem 0;
        
        }

        .clients-text-container {
            order: 2;
        }

        p {
            order: 3;

            &::after {
                content: "";
                display: none;
                width: 100%;
                height: 3px;
                background-color: $tmr-offwhite;
                margin: 2rem 0;
                
            }
    
        }
    }

    

    .clients-examples-container {
     
        order: 4;

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            list-style: none;
            margin: 0;
            padding: 0;
    
            @include tabletQuery {
                grid-template-columns: 1fr 1fr 1fr;
            }
    
            li {
                position: relative;


                // .play-example-container {
                //     position: absolute;
                //     margin: 0;
                //     top: 0;
                //     width: 100%;
                //     height: 100%;
                //     display: flex;
                //     flex-direction: column;
                //     align-items: center; 
                //     justify-content: center; 
                //     color: transparent;
                //     cursor: pointer;

                //     &.open {

                //         .iframe-container {

                //             iframe {
                //                 display: flex;
                //                 aspect-ratio: 16/9;
                //                 height: auto;
                //                 width: 100%;
                //                 max-width: 45rem;
                //                 position: fixed;
                //                 top: 50%;
                //                 left: 50%;
                //                 transform: translate(-50%, -50%);
                //                 z-index: 2000;
                //             }
                //         }
                //     }
                  

                //     iframe {
                //         display: none;
                //     }

                //     .client-h2 {
                //         text-align: center;
                //         color: transparent;
                //     }

                //     &:hover {
                //         color: $tmr-offwhite;
                //         background-color: rgb(black, 0.8);
                //         color: $tmr-offwhite;

                //         .client-h2 {
                //             color: $tmr-offwhite;
                //         }

                      
                //     }

                // }

                img {
                    display: block;
                    aspect-ratio: 1/1;
                }
                
    
            }
    
           
    
        }
    
        
    }

}

