.clients-section {

    article {
        display: flex;
        flex-direction: column;

        &::before {
            content: "";
            order: 1;
        }
        &::after {
            content: "";
            display: none;
            width: 100%;
            height: 3px;
            background-color: $tmr-offwhite;
            margin: 3rem 0;
        
        }

        .clients-text-container {
            order: 2;
        }

        p {
            order: 3;

            &::after {
                content: "";
                display: none;
                width: 100%;
                height: 3px;
                background-color: $tmr-offwhite;
                margin: 2rem 0;
                
            }
    
        }
    }

    

    .clients-examples-container {
     
        order: 4;

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            list-style: none;
            margin: 0;
            padding: 0;
    
            @include tabletQuery {
                grid-template-columns: 1fr 1fr 1fr;
            }
    
            li {
                position: relative;

                img {
                    display: block;
                    aspect-ratio: 1/1;
                }
                
    
            }
    
           
    
        }
    
        
    }

}

