.contact-form-section {

    article {

        .contact-container {
            @include desktopQuery {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                align-items: center;
            }

            .contact-text-container {
                order: 2;
            }
            .form-container {

                label {
                    font-weight: normal;
                }
    
                form {
                    
    
                    .wpforms-field-container {
    
    
                        input:-webkit-autofill,
                        input:-webkit-autofill:hover, 
                        input:-webkit-autofill:focus, 
                        input:-webkit-autofill:active {
                            -webkit-box-shadow: 0 0 0 30px $tmr-input-fill inset !important;
                                    box-shadow: 0 0 0 30px $tmr-input-fill inset !important;
                            -webkit-text-fill-color: $tmr-dark-text !important;
                        }
    
                        .wpforms-required-label {
                            color: $tmr-focus;
                        }
    
                        input {
                            background: $tmr-input-fill;
                            border: none;
                            color: $tmr-light-text;
                            max-width: 100%;
                            @include borderRadiusLight;
    
                            &:focus {
                                border: 1px dotted $tmr-focus;
                            }
                        }
                        textarea {
                            background: $tmr-input-fill;
                            border: none;
                            color: $tmr-input-text;
                            @include borderRadiusLight;
                            &:focus {
                                border: 1px dotted $tmr-focus;
                            }
                        }
                        
    
                        .wpforms-field-label {
                            font-weight: normal;
                        }
    
                    }
    
                    .wpforms-submit-container {
                        display: flex;
                        justify-content: flex-end;
    
                        button {
                            background: $tmr-input-fill;
                            border: none;
                            @include borderRadiusLight;
                            color: antiquewhite;
                            border: 1px solid black;
                            transition: all 0.5s ease;
    
                            &:hover {
                                background-color: transparent;
                                color: $tmr-dark-text;
                                border: 1px solid black;
                                cursor: pointer;
                            }
    
                        }
                    }
                       
                }
            }
        }

        
    }
}


