.contact-form-section {

    article {

        &::before {
            content: "";
        }

        .form-container {

            form {

                .wpforms-field-container {

                    input:-webkit-autofill,
                    input:-webkit-autofill:hover, 
                    input:-webkit-autofill:focus, 
                    input:-webkit-autofill:active {
                        -webkit-box-shadow: 0 0 0 30px $tmr-grey inset !important;
                                box-shadow: 0 0 0 30px $tmr-grey inset !important;
                        -webkit-text-fill-color: $tmr-offwhite !important;
                    }

                    .wpforms-required-label {
                        color: $tmr-focus;
                    }

                    input {
                        background: $tmr-grey;
                        border: none;
                        color: $tmr-offwhite;
                        max-width: 100%;

                        &:focus {
                            background: transparent;
                        }
                    }
                    textarea {
                        background: $tmr-grey;
                        border: none;
                        color: $tmr-offwhite;
                    }

                    

                    

                }

                .wpforms-submit-container {
                    display: flex;
                    justify-content: flex-end;

                    button {
                        background: $tmr-grey;
                        border: none;
                        border-radius: 2px;
                        color: $tmr-offwhite;

                        &:hover {
                            background-color: $tmr-focus;
                            border: none;
                            cursor: pointer;
                        }

                    }
                }
                   
            }
        }
    }
}