
.featured-image-section {

  .featured-image-parralax {
    @include backgroundParrelax;
    justify-content: center;
    display: flex;
  }

  .featured-img-logo {
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 4rem;
    @include desktopQuery {
      width: 5rem;
    }
  }
}