footer {

    .site-info {
        .footer-nav-container {
            display: flex;
            position: relative;
            margin: 0 1rem;
            padding: 1rem 0;
            .footer-text-container {
                @include largeTabletQuery {
                    display: flex;
                    flex-grow: 1;
                }
            }

            .footer-logo-container {
                order: 2;
                flex-grow: 1;
                text-align: end;
                .attachment-thumbnail.size-thumbnail {
                    width: 5rem;
                        @include largeTabletQuery {
                            width: 6rem;
                        }
                        @include desktopQuery {
                            width: 7rem;
                        }
                    z-index: 200;
                    align-self: center;
                    img {
                        width: 100%;
                        vertical-align: middle;
                    }
                }
            }

            
        

            .footer-nav {
                padding-bottom: 1rem; 
                @include largeTabletQuery {
                    &:nth-of-type(1) {
                        margin-left: 6rem;
                        order: 2;
                    }
                }
                
            }
            
            
            h2 {
                text-transform: uppercase;
                padding: 0;
                margin: 0;
                font-weight: bold;
                font-size: 1.3rem;
                color: $tmr-typography;
            }
    
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
    
                .on-mobile {
                    display: block;
                    @include desktopQuery {
                        display: none;
                    }
                }
                .on-desktop {
                    display: none;
                    @include desktopQuery {
                        display: block;
                    }
                }
    
                li {
        
                    a{
                        color: $tmr-typography;
                        text-decoration: none;
                    }
                }
            }
        }
        
    }
}