.hero-container {
    position: relative;
    

    .background-hero {
      @include heroParrelax;
      
    }

    .hero-text-container {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        padding-bottom: 0;
        @include largeTabletQuery {
          margin: 1rem;
        }
        @include desktopQuery {
          margin: 2rem;
        }

        
        
        .hero-logo-container {
          width: 5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
      h2 {
        color: $tmr-white;
        font-size: 5rem;
        line-height: 5rem;
        font-weight: bold;
        font-family: $tmr-accent-2;
        margin: 0;
        padding: 1rem;
        @include mobileLargeQuery {
          font-size: 6rem;
          line-height: 6rem;
        }
        @include tabletQuery {
          font-size: 6rem;
          line-height: 6rem;
        }
        @include largeTabletQuery {
          font-size: 7rem;
        }
        @include desktopQuery {
         font-size: 8rem;
         margin-bottom: .75rem;
         margin-left: .5rem;
        }
      }
      .desktop-heading {
        display: none;
        @include desktopQuery {
          display: block;
        }
      }
      .mobile-heading {
        display: block;
        @include desktopQuery {
          display: none;
        }
      }
    }

    img {
      width: 6rem;
      
    }
    .page-title {
        position: absolute;
        bottom: 8px;
        left: 16px;
        color: $tmr-white;
      }
}