.hero-container {
    position: relative;
    

    .background-hero {
      @include heroParrelax;
      box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.2) 0px 30px 60px -30px;
      
    }

    .hero-text-container {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        padding-bottom: 0;
        @include largeTabletQuery {
          margin: 1rem;
        }
        

        
        
        .hero-logo-container {
          width: 5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
      h2 {
        color: antiquewhite;
        font-size: 5rem;
        line-height: 5rem;
        font-weight: bold;
        font-family: $tmr-font-primary-chad;
        margin: 0;
        padding: 1rem;
        text-shadow: rgb(0 0 0) 0px 10px 55px, rgb(0 0 0 / 6%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 15%) 0px 12px 13px, rgb(0 0 0 / 18%) 0px -3px 5px;
        @include mobileLargeQuery {
          font-size: 6rem;
          line-height: 6rem;
        }
        @include tabletQuery {
          font-size: 6rem;
          line-height: 6rem;
        }
        @include largeTabletQuery {
          font-size: 7rem;
        }
        @include desktopQuery {
         font-size: 8rem;
         margin-bottom: .75rem;
         margin-left: .5rem;
        }
      }
      .desktop-heading {
        display: none;
        @include desktopQueryHeading {
          display: block;
        }
      }
      .mobile-heading {
        display: block;
        @include desktopQueryHeading {
          display: none;
        }
      }
    }

    img {
      width: 6rem;
      
    }
    .page-title {
        position: absolute;
        bottom: 8px;
        left: 16px;
        color: $tmr-white;
      }
}